body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ffffff;
}

.nav-wrapper{
	background-color: green;
}

table.highlight>tbody>tr:hover{
	background-color: #b9f6ca;
}

a{
	color: inherit;
}

.container i{
	color: #007F26;
}
.container{
	margin-left: 10%;
	margin-right: 10%;
}