body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #81c784;
}

table, .titulo{
	width: 80%;
	margin-left: 10%;
}

.nav-wrapper{
	background-color: green;
}

table.highlight>tbody>tr:hover{
	background-color: #b9f6ca;
}

a{
	color: inherit;
}

i{
	color: #1b5e20;
}